<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Welcome to Nestera</title>
</head>
<body>
  <h1>Welcome to Nestera, {{name}}!</h1>
  <p>We're excited to have you on board. Nestera is your gateway to decentralized property management on Stellar.</p>
  <p>Get started by exploring the platform and setting up your profile.</p>
  <br>
  <p>Best regards,<br>The Nestera Team</p>
</body>
</html>
